.doc-container {
  height: 70dvh;
  padding: 2rem;
  background: gray;
  overflow: auto;

}




@media print {

  .page {
    /* size: letter; */
    /* width: unset; */
    box-shadow: none;
    /* margin: 0; */
    /* padding: 0; */
  }

  .app-header {
    display: none;
  }

  .app-section {
    padding: 0;
  }

  .app-section__title {
    display: none;
  }

  footer {
    display: none;
  }
}
