.doc-container {
  height: 70dvh;
  padding: 2rem;
  background: gray;
  overflow: auto;

}

@media print {

  .app-header {
    display: none;
  }

  .app-section {
    padding: 0;
  }

  .app-section__title {
    display: none;
  }

  .doc-container {
    padding: 0;
    overflow: visible;
    background: transparent;
  }

  footer {
    display: none;
  }
}
